<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>

<body>
    <h1>Signup</h1>
    <form action="/user" method="POST">
        <label>Username</label>
        <input name="name" required type="text" placeholder="username">
        <label>Email</label>
        <input name="email" required type="text" placeholder="email">
        <label>Password</label>
        <input name="password" required type="text" placeholder="password">
        <button type="submit">Signup</button>
    </form>
</body>

</html>